$color-primary:rgb(255, 157, 0);
$color-primary-light:#ffb30065;
$color-primary-dark:#eb5a007a;


$color-secondary-light: #7ed56f;
$color-secondary-dark:#28b485;

$color-tertiary-light: #2998ff;
$color-tertiary-dark:#5643fa;


$color-grey:#777;
$color-white: #fff;
$shadow: rgba(0,0,0,.2);
$color-black: black;
$color-grey-light-1:#f7f7f7;


$default-font-size:1.6rem;

//Grid
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal: 6rem;



$color-primary-light2: #249ea099;
$color-primary-dark2: #00818392;